main {
    background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapercave.com%2Fouter-space-wallpaper&psig=AOvVaw1iyqfvL7iitJwXaMkKYm3v&ust=1634952912148000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNC-5azw3PMCFQAAAAAdAAAAABAK";
    position: relative;
}

section {
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    width: 850px;
    height: 324px;
    margin-top: 20px;
    margin-left: 266px;
}

img {
    width: 850px;
    height: 450px;
    margin-left: 266px;
}

h1 {
    position: absolute;
    left: 45%;
    top: 30%;
    color: white;
    font-size: 80px;
}